body,
div,
h1,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/**** VARIABLES ****/
$mainYellow: #FFC107;
$lightGray: #F4F4F4;
$lightBlue: #03A9F4;
$gameBorder: 8px solid darken($lightGray, 10%);
$xPlayerColor: #3F51B5;
$oPlayerColor: #607D8B;

html {
  font-size: 16px;
}

body,
html {
  background-color: darken($lightGray, 10%);
}

body {
  font-size: 100%;
}

h1 {
  font: {
    size: 4rem;
    weight: bolder;
  }
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  letter-spacing: 5px;
}
// Needed to keep game box borders from poking outside of game box and border

.row {
  margin: 0;
}
/**** MIXINS ****/
@mixin borderRightBottom {
  border: {
    right: $gameBorder;
    bottom: $gameBorder;
  }
}
@mixin borderLeftBottom {
  border: {
    left: $gameBorder;
    bottom: $gameBorder;
  }
}

div#main-game-div,
h1 {
  font-family: 'Indie Flower', cursive;
}

div#main-game-div {
  .square {
    font-size: 3.5rem;
    text-align: center;
    min-height: 100px;
    transition: 0.5s;
    background-color: darken($lightGray, 30%);
    opacity: 0.8;
    &.hover {
      cursor: pointer;
      background-color: $mainYellow;
      border: none !important;
      transform: rotate(10deg);
      opacity: 1;
    }
    &.hoverGameEnded {
      transform: none;
      opacity: 0.8;
      background-color: darken($lightGray, 30%);
    }
    &.x-win-card {
      background-color: $xPlayerColor;
      color: #fff;
    }
    &.o-win-card {
      background-color: $oPlayerColor;
      color: #fff;
    }
    &:active {
      background-color: $lightBlue;
    }

    &.filled {
      background-color: darken($lightGray, 1%);
    }

    &.left,
    &.top-left {
      @include borderRightBottom;
    }

    &.center,
    &.top-center {
      border-bottom: $gameBorder;
    }

    &.right,
    &.top-right {
      @include borderLeftBottom;
    }

    &.bottom-left {
      border-right: $gameBorder;
    }

    &.bottom-right {
      border-left: $gameBorder;
    }
  }
}
