html, body, h1, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #FFCA28;
}

html {
  font-size: 16px;
}

body {
  font-size: 100%;
}

h1 {
  font-size: 4rem;
  padding: 2%;
  margin-top: 2%;
  font-weight: bolder;
  letter-spacing: 5px;
}

/**** VARIABLES ****/
$gameBorder: 5px solid #FFB300;

/**** MIXINS ****/
@mixin borderRightBottom {
  border: {
    right: $gameBorder;
    bottom: $gameBorder;
  }
}

@mixin borderLeftBottom {
  border: {
    left: $gameBorder;
    bottom: $gameBorder;
  }
}

div.main-game-div,
  h1 {
  // font-family: averia-sans-libre, sans-serif;
  // font-family: 'Sedgwick Ave Display', cursive;
  font-family: 'Indie Flower', cursive;
}

div.main-game-div {
  padding: 5%;
}

.square {
  font-size: 4rem;
  text-align: center;
  min-height: 100px;
  &.top-left,
  &.left {
    @include borderRightBottom;
  }
  &.top-center,
  &.center {
    border-bottom: $gameBorder;
  }
  &.top-right,
  &.right {
    @include borderLeftBottom;
  }
  &.bottom-left {
    border-right: $gameBorder;
  }
  &.bottom-right {
    border-left: $gameBorder;
  }
}
